.centeredColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centeredColumnX {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centeredColumnY {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
